<template>
  <div class="page">
    <Header />
    <div class="container" v-if="!!userData">
      <h1>Пользователь {{$route.params.id}}</h1>
      <div class="info">
        <div
          class="info__photo"
          :style="{
            'background-image': this.$store.state.cleaner.foto ? `url('../${this.$store.state.cleaner.foto}')`: src='../assets/img/defaultPhoto.png',
            'background-position': 'center center'
            }"
        >
        </div>
        <div class="info__description">{{userData.full_name.full_name_str}}, {{userData.age}} года</div>
        <div class="btns">
          <el-button class="btn" type="primary" @click="editUser(userData)">Изменить пользовтеля</el-button>
          <el-button class="btn" type="danger" style="margin-left: 0" @click="deleteUser">Удалить пользователя</el-button>
        </div>
      </div>
      <h1>Список заказов</h1>
      <div class="orders-container">
        <el-table
          :data="tableData"
          :default-sort = "{prop: 'date', order: 'descending'}"
          style="width: 100%">
          <el-table-column
            prop="id"
            label="Номер заказа"
            sortable
            width="180">
          </el-table-column>
          <el-table-column
            prop="date"
            label="Дата заказа"
            sortable
            width="180">
          </el-table-column>
          <el-table-column
            prop="name"
            label="Имя заказчика"
            sortable
            width="180">
          </el-table-column>
          <el-table-column
            prop="address"
            label="Address">
          </el-table-column>
          <el-table-column
            prop="num"
            label="Номер телефона">
          </el-table-column>
          <el-table-column
            label="Профиль клинера">
            <template slot-scope="scope">
              <el-button @click.native.prevent="goToProfile(scope.row)">
                Перейти в профиль
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        userData: {
          full_name: {
            full_name_str: 'User'
          }
        },
        first_name: '',
        surname: '',
        middle_name: '',
        age: ''
      }
    },
    methods: {
      sendFile() {
        this.$refs.upload.submit()
      },
      editUser (userData) {
        this.$router.push('/CleanersPages/EditCleaner');
        this.$store.commit('dataRow', userData)
      },
      deleteUser () {
        this.$confirm('', 'Удалить данного пользователя?', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
        }).then(() => {
          axios
            .delete('http://localhost:3000/user/delete', {
              params: {
                id: this.$route.params.id
              },
              headers: {
                token: this.$store.state.token
              }
            });
          this.$message({
            type: 'success',
            message: 'Удаление успешно'
          });
          this.$router.push('/UsersPages/UsersPage');
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Не удалено'
          });
        });
      },
    },

    mounted() {
      axios
        .get('http://localhost:3000/user/getById', {
          params: {
            id: this.$route.params.id
          },
          headers: {
            token: this.$store.state.token
          }
        })
        .then((res) => {
          this.userData = res.data;
        });
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }

  .info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: wheat;
  }

  .info__photo {
    width: 15%;
    height: 150px;
    background-color:#35495e;
    padding: 15px;
  }

  .info__description {
    width: 60%;
    height: 150px;
    background-color:#35495e;
    padding: 15px;
  }

  .btns {
    width: 20%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .btn {
    width: 100%;
  }
</style>
