<template>
  <div class="page">
    <Header />
    <h1>Добавление пользователя</h1>
    <div class="add-container">
      <div class="inputs">
        <el-input class="input" v-model="first_name" placeholder="Имя"></el-input>
        <el-input class="input" v-model="surname" placeholder="Фамилия"></el-input>
        <el-input class="input" v-model="middle_name" placeholder="Очество"></el-input>
        <el-input class="input" v-model="phone_number" placeholder="Номер телефона"></el-input>
      </div>
      <div class="photo-uploader">
        <el-upload
          class="upload-demo"
          list-type="picture-card"
          ref="upload"
          action="/cleaner/foto"
          method="POST"
          :headers="{ token: this.$store.state.token }"
          :auto-upload="false"
        >
          <div class="el-upload__tip" slot="tip">
            <p>
              jpg/png files with a size less than 500kb
            </p>
            <div>
              <el-button style="margin-left: 10px;" size="small" type="success" @click="sendFile">upload photo</el-button>
            </div>
          </div>
          <i class="el-icon-plus"></i>
        </el-upload>
      </div>
    </div>
    <div class="scs-btn">
      <el-button type="success" @click="addCleaner">Сохранить</el-button>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: [],
        first_name: '',
        surname: '',
        middle_name: '',
        phone_number: 89268966665
      }
    },
    methods: {
      addCleaner() {
        axios
          .post('http://localhost:3000/user/add',
            {
              data: {
                first_name: this.first_name,
                surname: this.surname,
                middle_name: this.middle_name,
                photo: '',
                status: '',
                register_date: 1,
                phone_number: this.phone_number,
              }
            },
            {
              headers: {
                token: this.$store.state.token
              }
            })
          .then(() => {
            this.$message({
              showClose: true,
              message: 'Клиент успешно добавлен',
              type: 'success',
              duration: 2000,
            });
            this.$router.push('/UsersPages/UsersPage');
          })
      },
      sendFile() {
        this.$refs.upload.submit()
      }
    },
  }
</script>
<style>
  h1 {
    text-align: center;
  }

  .upload-demo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-container {
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .inputs {
    width: 40vh;
    padding: 20px;
  }

  .input {
    margin-bottom: 15px;
  }

  .photo-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scs-btn {
    display: flex;
    justify-content: center;
  }
</style>
