<template>
  <div class="page">
    <Header />
    <h1>Пользователи</h1>
    <div class="container">
      <div class="filters-container">
        <el-date-picker
          v-model="chosenDate"
          value-format="timestamp"
          type="date"
          placeholder="Дата регистрации">
        </el-date-picker>
        <div class="search">
          <el-input
            v-model="search_id"
            placeholder="Поиск по id"
          >
          </el-input>
        </div>
        <el-button @click="addClient" type="primary">
          Добавить клиента
        </el-button>
      </div>
      <div class="table-container">
        <el-table
          v-if="!!tableData"
          :data="tableData"
          style="width: 100%">
          <el-table-column
            prop="_id"
            label="ID"
            sortable
            width="215">
          </el-table-column>
          <el-table-column
            prop="full_name.full_name_str"
            label="Имя"
            width="215">
          </el-table-column>
          <el-table-column
            prop="phone_number"
            label="Номер телефона"
            width="215">
          </el-table-column>
          <el-table-column
            label="Профиль клиента">
            <template slot-scope="scope">
              <el-button @click.native.prevent="goToProfile(scope.row)">
                Перейти в профиль
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from 'axios'

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: [],
        search_id: ''
      }
    },
    methods: {
      goToProfile (row) {
        this.$router.push('/UsersPages/' + row._id);
      },
      addClient() {
        this.$router.push('/UsersPages/AddUser')
      }
    },
    mounted() {
      axios
        .get('http://localhost:3000/user/all', {
          headers: {
            token: this.$store.state.token
          }})
        .then((res) => {
          this.tableData = res.data;
        })
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }

  .filters-container {
    display: flex;
    justify-content: space-around;
  }

  .search {
    width: 300px;
  }
</style>
