<template>
  <div class="header">
    <div class="menu">
      <div class="menu__orders" @click="goToOrderPage">
        заказы
      </div>
      <div class="menu__users" @click="goToUsers">
        пользователи
      </div>
      <div class="menu__configs" @click="goToConfigs">
        услуги
      </div>
      <div class="menu__cleaners" @click="goToCleanersPage">
        клинеры
      </div>
      <div class="menu__cleaners" @click="goToLoginPage">
        выйти
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    methods: {
      goToCleanersPage() {
        this.$router.push('/CleanersPages/CleanersPage');
      },
      goToOrderPage() {
        this.$router.push('/OrdersPages/OrdersPage');
      },
      goToLoginPage() {
        this.$router.push('/LoginPage');
      },
      goToUsers() {
        this.$router.push('/UsersPages/UsersPage');
      },
      goToConfigs() {
        this.$router.push('/ConfigsPages/ConfigsPage');
      }
    }
  }
</script>

<style>
  .header {
    width: 100%;
    height: 5vh;
    background-color: #3b8070;
  }

  .menu {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    font-size: 20px;
  }

  .menu__cleaners, .menu__configs, .menu__users, .menu__orders {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .menu > div:hover {
    font-size: 25px;
    transition: all 0.25s;
    color: wheat;
    letter-spacing: 1px;
  }


</style>
