<template>
  <div class="page">
    <Header />
    <div class="container">
      <h1>Услуга {{$route.params.id}}</h1>
      <div class="info">
        <div class="main-info">
          <div class="name">
            <div>Нзавание</div>
            <div></div>
          </div>
          <div class="description">
            <div>Описание</div>
            <div></div>
          </div>
          <div class="cost">
            <div>Стоимость</div>
            <div></div>
          </div>
        </div>
        <div class="btns">
          <el-button class="btn" type="primary" @click="editConfig()">Изменить услугу</el-button>
          <el-button class="btn" type="danger" @click="deleteConfig" style="margin-left: 0">Удалить услугу</el-button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'

  export default {
    components: {
      Header
    },
    // mounted() {
    //   axios
    //     .get('http://localhost:3000/config/getById')
    // }
  }
</script>

<style>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }

  .info {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main-info > div {
    margin-bottom: 20px;
  }

  .btns {
    width: 20%;
    height: 150px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .btn {
    width: 100%;
  }
</style>
