<template>
  <div class="page">
    <Header />
    <h1>Добавление услуги</h1>
    <div class="add-container">
      <div class="inputs">
        <div>
          <el-input class="input" v-model="title" placeholder="Название"></el-input>
        </div>
        <div>
          <el-input class="input" v-model="description" placeholder="Описание"></el-input>
        </div>
        <div class="price">
          <div>Цена</div>
          <div>
            <el-input-number class="input" v-model="cost" placeholder="Цена" :min="500" :max="5000" :step="500"></el-input-number>
          </div>
        </div>
        <div class="time">
          <div>Время</div>
          <el-input-number class="input" v-model="required_time" placeholder="Время выполнения" :min="30" :max="360" :step="30"></el-input-number>
        </div>
      </div>
      <div class="photo-uploader">
        <el-upload
          class="upload-demo"
          list-type="picture-card"
          ref="upload"
          action="/cleaner/foto"
          method="POST"
          :headers="{ token: this.$store.state.token }"
          :auto-upload="false"
        >
          <div class="el-upload__tip" slot="tip">
            <p>
              jpg/png files with a size less than 500kb
            </p>
            <div>
              <el-button style="margin-left: 10px;" size="small" type="success" @click="sendFile">upload photo</el-button>
            </div>
          </div>
          <i class="el-icon-plus"></i>
        </el-upload>
      </div>
    </div>
    <div class="scs-btn">
      <el-button type="success" @click="addClient">Сохранить</el-button>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        description: '',
        title: '',
        cost: '',
        required_time: '',
      }
    },
    methods: {
      addClient() {
        axios
          .post('http://localhost:3000/config/add',
            {
              data: {
                name: this.title,
                price: this.cost,
                time: this.required_time,
              }
            },
            {
              headers: {
                token: this.$store.state.token
              }
            })
          .then(() => {
            this.$message({
              showClose: true,
              message: 'Клиент успешно добавлен',
              type: 'success',
              duration: 2000,
            });
            this.$router.push('/ConfigsPages/ConfigsPage');
          })
      },
      sendFile() {
        this.$refs.upload.submit()
      }
    },
  }
</script>
<style>
  h1 {
    text-align: center;
  }

  .upload-demo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-container {
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .inputs {
    width: 40vh;
    padding: 20px;
  }

  .inputs > div {
    margin-bottom:15px;
  }

  .photo-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scs-btn {
    display: flex;
    justify-content: center;
  }

  .time, .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

</style>
