<template>
  <div class="page">
    <Header />
    <h1>Услуги</h1>
    <div class="main-container">
      <div class="add-btn">
        <el-button
          @click="addService"
          type="primary"
        >
          Добавить услугу
        </el-button>
      </div>
      <div class="table-container">
        <el-table
          v-if="!!tableData"
          :data="tableData"
          style="width: 100%">
          <el-table-column
            prop="_id"
            label="ID">
          </el-table-column>
          <el-table-column
            prop="name"
            label="Название">
          </el-table-column>
          <el-table-column
            prop="price"
            label="Цена">
          </el-table-column>
          <el-table-column
            prop="time"
            label="Время, минут">
          </el-table-column>
          <el-table-column
            label="Услуга">
            <template slot-scope="scope">
              <el-button @click.native.prevent="config(scope.row)">
                Перейти в услугу
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: [],
      }
    },
    methods: {
      addService () {
        this.$router.push('/ConfigsPages/AddConfig')
      },
      config (row) {
        this.$router.push('/ConfigsPages/' + row._id);
      },
    },
    mounted () {
      axios
        .get('http://localhost:3000/config/all', {
          headers: {
            token: this.$store.state.token
          }
        })
        .then((res) => {
          this.tableData = res.data
        })
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .main-container {
    padding: 20px;
    margin: 20px;
  }

  .add-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
</style>
