<template>
  <div class="page">
    <Header />
    <h1>Клинеры</h1>
    <div class="container">
      <div class="add-btn">
        <el-button @click="addCleaner" type="primary">
          Добавить клинера
        </el-button>
      </div>
      <div class="table-container">
        <el-table
          v-if="!!tableData"
          :data="tableData"
          :default-sort = "{prop: 'date', order: 'descending'}"
          style="width: 100%">
          <el-table-column
            prop="_id"
            label="ID"
            sortable
            width="215">
          </el-table-column>
          <el-table-column
            prop="full_name.full_name_str"
            label="Имя"
            sortable
            width="215">
          </el-table-column>
          <el-table-column
            prop="completed_orders.length"
            label="Выполненные заказы"
            width="130">
          </el-table-column>
          <el-table-column
            prop="assigned_orders.length"
            label="Активыне заказы"
            width="100">
          </el-table-column>
          <el-table-column
            label="Профиль клинера">
            <template slot-scope="scope">
              <el-button @click.native.prevent="goToProfile(scope.row)">
                Перейти в профиль
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from 'axios'

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: []
      }
    },
    methods: {
      goToProfile (row) {
        this.$router.push('/CleanersPages/' + row._id);
      },
      addCleaner() {
        this.$router.push('/CleanersPages/AddCleaner')
      }
    },
    mounted() {
      axios
        .get('http://localhost:3000/cleaner/all', {
          headers: {
            token: this.$store.state.token
          }})
        .then((res) => {
          this.tableData = res.data;
        })
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }

  .add-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
</style>
