<template>
  <div class="page">
    <Header />
    <h1>Изменение клинера</h1>
    <div class="main-container">
      <div class="inputs">
        <el-input class="input" v-model="tableData.first_name" placeholder="Имя"></el-input>
        <el-input class="input" v-model="tableData.surname" placeholder="Фамилия"></el-input>
        <el-input class="input" v-model="tableData.middle_name" placeholder="Очество"></el-input>
        <el-input class="input" v-model="tableData.age" placeholder="Возраст"></el-input>
      </div>
      <div class="photo-uploader">
        <el-upload
          class="upload-demo"
          list-type="picture-card"
          ref="upload"
          action="/user/foto"
          method="POST"
          :auto-upload="false"
        >
          <div class="el-upload__tip" slot="tip">
            <p>
              jpg/png files
            </p>
            <div>
              <el-button size="small" type="success" @click="sendFile">upload photo</el-button>
            </div>
          </div>
          <i class="el-icon-plus"></i>
        </el-upload>
      </div>
    </div>
    <div class="scs-btn">
      <el-button type="success" @click="editCleaner">Изменить</el-button>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: {
          first_name: '',
          surname: '',
          middle_name: '',
          age: ''
        },
        first_name: '',
        surname: '',
        middle_name: '',
        age: ''
      }
    },
    methods: {
      editCleaner() {
        axios
          .put('http://localhost:3000/cleaner/edit',
            {
              "data": {
                first_name: this.first_name,
                surname: this.surname,
                middle_name: this.middle_name,
                age: this.age,
              }
            },
            {
              headers: {
                token: this.$store.state.token
              }})
          .then(() => {
            this.$message({
              showClose: true,
              message: 'Клинер успешно добавлен',
              type: 'success',
              duration: 2000,
            })
          })
      },
      sendFile() {
        this.$refs.upload.submit()
      },
    },
    mounted() {
      this.tableData.first_name = this.$store.state.dataRow.full_name.first_name,
      this.tableData.surname = this.$store.state.dataRow.full_name.surname,
      this.tableData.middle_name = this.$store.state.dataRow.full_name.middle_name,
      this.tableData.age = this.$store.state.dataRow.age
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .main-container {
    width: 100%;
    margin-top: 20px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }

  .upload-demo {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs {
    width: 40vh;
    padding: 20px;
  }

  .input {
    margin-bottom: 15px;
  }

  .photo-uploader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .scs-btn {
    display: flex;
    justify-content: center;
  }</style>
