<template>
  <div>
    <el-row>
      <el-col :span="24">
        <el-button @click="goToCleanersPage" >Cleaner Page</el-button>
        <el-button @click="goToCleanerProfilePage" >Cleaner Profile Page</el-button>
        <el-button @click="goToOrderPage">Order Page</el-button>
        <el-button @click="goToLoginPage">Login</el-button>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  export default {
    layout: 'teub',
    methods: {
      goToCleanersPage() {
        this.$router.push('CleanersPages/CleanerProfilePage')
      },
      goToCleanerProfilePage () {
        this.$router.push('/CleanerProfilePage')
      },
      goToLoginPage () {
        this.$router.push('/LoginPage')
      },
      goToOrderPage () {
        this.$router.push('/OrderPage')
      }
    }
  }
</script>

<style>
  body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
  }
  h1 {
    text-align: center;
  }
</style>
