<template>
  <div class="container">
    <h1>Log in</h1>
    <div class="container__input">
      <el-input
        v-model="inputEmail"
        class="input"
        placeholder="email"
        clearable
      >
      </el-input>
    </div>

    <div class="container__input">
      <el-input
        v-model="inputPassword"
        class="input"
        placeholder="Password"
        show-password
      >
      </el-input>
    </div>

    <el-button type="primary" class="btn" @click="logIn">Log in</el-button>
    <nuxt-link to="/RegistryPage">Зарегистрироваться</nuxt-link>
  </div>
</template>

<script>

  import axios from "axios";

  export default {
    name: 'LoginPage',
    data() {
      return {
        inputPassword: '123456',
        inputEmail: 'm@gmail.com'
      }
    },
    methods: {
      logIn() {
        axios
          .post('http://localhost:3000/admin/login',{
              email: this.inputEmail,
              password: this.inputPassword
          })
          .then((res) => {
            this.$store.commit('token', res.data.token);
            this.$router.push('CleanersPages/CleanersPage');
          })
      }
    }
  }
</script>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }

  .container__input {
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .input {
    width: 300px;
    border: 2px black solid;
  }

  .btn {
    width: 300px;
    margin: 10px auto;
  }

  h1 {
    margin: 10px;
  }
</style>
