<template>
  <div class="container">
    <h1>Registration</h1>
    <div class="container__input">
      <el-input v-model="inputName" class="input" placeholder="Name" clearable>
      </el-input>
    </div>

    <div class="container__input">
      <el-input
        v-model="inputEmail"
        class="input"
        placeholder="email"
        clearable
      >
      </el-input>
    </div>

    <div class="container__input">
      <el-input
        v-model="inputPassword"
        class="input"
        placeholder="Password"
        show-password
      >
      </el-input>
    </div>

    <el-button type="primary" class="btn" @click="lofIn">
      Зарегестрироваться
    </el-button>
    <nuxt-link to="/LoginPage">Log in</nuxt-link>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    data: () => ({
      inputName: '',
      inputEmail: '',
      inputPassword: ''
    }),
    methods: {
      lofIn() {
        axios
          .post('/user/signup', {
            username: this.inputName,
            email: this.inputEmail,
            password: this.inputPassword
          })
          .then((res) => {
            this.$router.push('/LoginPage')
            this.$store.commit('changeMode', true)
          })
      }
    }
  }
</script>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
  }

  .container__input {
    display: flex;
    margin: 10px;
    justify-content: center;
  }

  .input {
    width: 300px;
    border: 2px black solid;
  }

  .btn {
    width: 300px;
    margin: 10px auto;
  }

  h1 {
    margin: 10px;
  }
</style>
