<template>
  <div class="page">
    <Header/>
    <h1>Заказ №{{$route.params.id}}</h1>
    <div class="container">
      <div class="order-container">
        <div class="order-info">
          <h3>Информация о заказе</h3>
          <div>Заказ №{{$route.params.id}}</div>
          <div>
            Клиент: {{orderData.user_name}}
          </div>
          <div>
            Клинер: {{orderData.cleaner_name}}
          </div>
          <div>
            Адрес : {{orderData.address}}
          </div>
        </div>
        <div class="order-edit">
          <div class="change-cleaner">
            Поменять клинера
          </div>
          <div class="comment">
            Комментарий для клинера
          </div>
          <div class="cleaner-link">
            Связь с клинером
          </div>
        </div>
      </div>
      <div class="scs-btn">
        <el-button type="success" @click="editOrder">Редактировать</el-button>
        <el-button type="danger" @click="deleteOrder">Удалить</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        orderData: [],
        clientData: []
      }
    },
    methods: {},
    mounted() {
      axios
        .get('http://localhost:3000/order/getById', {
          params: {
            id: this.$route.params.id
          },
          headers: {
            token: this.$store.state.token
          }
        })
        .then((res) => {
          this.orderData = res.data;
        });
      axios
        .get('http://localhost:3000/cleaner/all', {
          headers: {
            token: this.$store.state.token
          }
        })
    }
  }
</script>
<style>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }

  .order-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .order-info, .order-edit {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .order-info > div {
    margin-bottom:20px;
    }

  .order-edit > div {
    margin-bottom:20px;
  }

  .scs-btn {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

</style>
