<template>
  <div class="page" :key="componentKey">
    <Header />
    <div class="container">
      <h1>Добавить заказ</h1>
      <div class="add-container">
        <div class="inputs">
          <el-input class="input" v-model="address" placeholder="Адрес"></el-input>
          <el-input class="input" v-model="comment" placeholder="Комментарий"></el-input>
          <el-input class="input" v-model="cleaner" placeholder="Клинер"></el-input>
          <el-input class="input" v-model="user" placeholder="Пользователь"></el-input>
        </div>
        <div class="apartment-configuration">
          <div class="room">
            <div>
              Количество комнат
            </div>
            <el-input-number :change='costCountMethod()' v-model="room" :min="1" :max="5"></el-input-number>
          </div>
          <div class="lavatory">
            <div>
              Количество санузлов
            </div>
            <el-input-number :change='costCountMethod()' v-model="bathroom" :min="1" :max="3"></el-input-number>
          </div>
          <div>
            <div>
              Дополнительыне услуги
            </div>
            <el-button @click="getServices" style="width: 100%;">Показать услуги</el-button>
          </div>
        </div>
        <div class="date-pick">
          <el-date-picker
            v-model="order_day"
            type="date"
            format="dd.MM.yyyy"
            value-format="timestamp"
            placeholder="Выбирите день">
          </el-date-picker>
          <br>
          <el-time-select
            v-model="order_time"
            value-format="HHmm"
            :picker-options="{
              start: '05:30',
              step: '00:15',
              end: '22:30'
            }"
            placeholder="Выбирите время">
          </el-time-select>
        </div>
      </div>
      <div class="services" v-if="showServices">
        <el-table
          class="table"
          :data="servicesList">
          <el-table-column
            prop="_id"
            label="ID"
            width="215">
          </el-table-column>
          <el-table-column
            prop="name"
            label="Название"
            width="215">
          </el-table-column>
          <el-table-column
            prop="cost"
            label="Цена"
            width="130">
          </el-table-column>
          <el-table-column
            label="Добавить">
            <template slot-scope="scope">
              <el-button v-if='!scope.row.checked' type="success" style="width: 110px;" @click.native.prevent="addService(scope.row)">
                Добавить
              </el-button>
              <el-button v-if='scope.row.checked' type="danger" style="width: 110px;" @click.native.prevent="deleteService(scope.row)">
                 Удалить
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="appraised-value">
        Примерная стоимость: {{ sum }} рублей.
      </div>
      <div class="scs-btn">
        <el-button type="success" @click="sendOrder">Сохранить</el-button>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        showServices: false,
        cost: '',
        user: '',
        cleaner: '5eb3bdcaf0ae3179d6f15e86',
        room: '',
        bathroom: '',
        client_name: '',
        address: '',
        comment: '',
        order_day: '',
        order_time: '',
        ordertime: '',
        sum: '',
        serv: 0,
        componentKey: 0,
        specialServices: [],
        servicesList: [{
          _id: 16564687635465,
          name: 'Мывка окон',
          cost: 1500
        }, {
          _id: 12654646798235,
          name: 'Пыль',
          cost: 2000
        }]
      }
    },
    methods: {
      forceRerender() {
        this.componentKey += 1;
      },
      costCountMethod () {
        this.sum = this.serv + 1000 + (this.room * 500) + (this.bathroom * 500)
      },
      addService (row) {
        this.serv += row.cost;
        this.specialServices.push(row._id);
        row.checked = true;
        this.forceRerender();
      },
      deleteService (row) {
        this.serv -= row.cost;
        this.specialServices.splice(-2, 1);
        row.checked = null;
        this.forceRerender();
      },
      getServices () {
        this.showServices = !this.showServices
      },
      sendOrder () {
        this.deformTime(this.order_time);
        axios
          .post('http://localhost:3000/order/add',
            {
              "data": {
                user_id: this.user,
                order_data: (this.order_day / 1000) + this.ordertime,
                cleaner_id: this.cleaner,
                price: this.sum,
                address: this.address,
                comment: this.comment,
                basket: {
                  room_count: this.room,
                  bathroom_count: this.bathroom,
                }
              }
            },
            {
              headers: {
                token: this.$store.state.token
              }})
          .then(() => {
            this.$message({
              showClose: true,
              message: 'Клинер успешно добавлен',
              type: 'success',
              duration: 2000,
            });
            this.$router.push('/OrdersPages/OrdersPage');
          })
      },
      deformTime (str) {
        let splittedStr = str.split(':');
        let hour = splittedStr[0]*60;
        this.ordertime = (hour + splittedStr[1]*1) * 60;
      }
    },
  }
</script>
<style>
  h1 {
    text-align: center;
  }

  .add-container {
    display: flex;
    justify-content: space-around;
  }

  .inputs {
    width: 40vh;
    padding: 20px;
  }

  .services {
    width: 750px;
    position: relative;
  }

  .table {
    left: 50%;
  }

  .input, .room, .lavatory {
    margin-bottom: 15px;
  }

  .apartment-configuration, .date-pick {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .scs-btn, .appraised-value{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
</style>
