<template>
  <div class="page">
    <Header />
    <h1>Заказы</h1>
    <div class="container">
      <br>
      <div class="filters-container">
        <el-date-picker
          v-model="chosenDate"
          value-format="timestamp"
          type="date"
          placeholder="Заказы на дату">
        </el-date-picker>
        <el-select v-model="appointValue" width="300" placeholder="Назначенные">
          <el-option
            v-for="appoint in appoints"
            :key="appoint.value"
            :label="appoint.label"
            :value="appoint.value">
          </el-option>
        </el-select>
        <el-select v-model="orderStatus" placeholder="Select">
          <el-option
            v-for="item in cancelledOrder"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
        <el-button @click="addOrder" type="primary">
          Добавить заказ
        </el-button>
      </div>
      <div class="orders-container">
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column
            prop="_id"
            label="Номер заказа"
            sortable>
          </el-table-column>
          <el-table-column
            label="Дата заказа"
            prop="order_data">
          </el-table-column>
          <el-table-column
            prop="user_phone"
            label="Номер телефона"
            sortable>
          </el-table-column>
          <el-table-column
            prop="cleaner_id"
            label="Клинер">
          </el-table-column>
          <el-table-column
            label="Страница заказа">
            <template slot-scope="scope">
              <el-button @click.native.prevent="goToOrder(scope.row)">
                Перейти в заказ
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            label="Страница клинера">
            <template slot-scope="scope">
              <el-button @click.native.prevent="goToCleanerProfilePage(scope.row)">
                Профиль клинера
              </el-button>
            </template>
          </el-table-column>
          <el-table-column
            label="Удалить">
            <template slot-scope="scope">
              <el-button @click.native.prevent="orderDelete(scope, tableData)">
                Удалить заказ
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </div>
  </div>
</template>
<script>
  import Header from '~/components/Header.vue'
  import axios from "axios";

  export default {
    components: {
      Header
    },
    data() {
      return {
        tableData: [],
        appoints: [{
          value: 'appointed',
          label: 'Назначено'
        }, {
          value: 'disappointed',
          label: 'Не назначено'
        }, {
          value: 'appointValue',
          label: 'Назначено/ Не назначено'
        }],
        appointValue: '',
        cancelledOrder: [{
          value: 'cancelled',
          label: 'Отмененные'
        }, {
          value: 'completed',
          label: 'Завершенные'
        }, {
          value: 'active',
          label: 'Активный'
        }],
        orderStatus: '',
        modeView: true,
        modeAdd: false,
        cost: '',
        room: '',
        bathroom: '',
        client_name: '',
        address: '',
        comment: '',
        chosenDate: '',
      }
    },
    methods: {
      setRows(list) {
        return list.map((list) => ({
          ...list,
          order_data: this.deformat(list.order_data),
        }))
      },
      deformat (order_data) {
        let d = new Date(order_data*1000);
        return d.getDate() + '.' + ("0" + (d.getMonth() + 1)).slice(-2) + '.' + d.getFullYear() + " " + d.getHours() + ':' + ("0" + (d.getMinutes())).slice(-2);
      },
      addOrder() {
        this.$router.push('/OrdersPages/AddOrder');
      },
      costCounter() {
        if (this.room === 1 && this.bathroom === 1) {
          return 1500;
        } else if (this.room === 2 && this.bathroom === 1) {
          return 2000;
        }
      },
      goToOrder (row) {
        this.$router.push('/OrdersPages/' + row._id);
      },
      goToCleanerProfilePage (row) {
        this.$router.push('/CleanersPages/' + row.cleaner_id);
      },
      orderDelete (scope, tableData) {
        const {$index, row} = scope;
        this.$confirm('', 'Удалить данный заказ?', {
          confirmButtonText: 'Да',
          cancelButtonText: 'Нет',
          type: 'warning'
        }).then(() => {axios
            .delete('http://localhost:3000/order/delete', {
              params: {
                id: row._id
              },
              headers: {
                token: this.$store.state.token
              }
            });
          tableData.splice($index, 1);
          this.$message({
            type: 'success',
            message: 'Удаление успешно'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Не удалено'
          });
        });
      },
    },
    mounted() {
      axios
        .get('http://localhost:3000/order/all', {
          headers: {
            token: this.$store.state.token
          }})
        .then((res) => {
          this.tableData =  this.setRows(res.data.orders);
        })
    }
  }
</script>
<style scoped>
  h1 {
    text-align: center;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }


  .filters-container {
    display: flex;
    justify-content: space-around;
  }

</style>
